body {
    background-color: #2b2b2b;
    text-align: center;
}

h1 {
    font: normal 25pt Arial, Helvetica, sans-serif;
    color: rgb(133, 133, 133);
}

.container {
    position: absolute;
    text-align: center;
    width: 100%;
    margin: auto;
}

.img {
    position: relative;
    bottom: 50px;
}

.button {
    /*background-color: Transparent;*/
    background-repeat:no-repeat;
    border: none;
    /* overflow: hidden; */
    outline:none; 
    cursor: pointer;
    width: 50px;
    height: 35px;
    position: relative;
    /* font-size: 0; */
}

.all-buttons{
    position: relative; 
    bottom: 300px;
}

#screen {
    background-color: rgb(42, 56, 33);
    position: relative;
    font-family: fantasy;
    font-size: 30px;
    text-align: right;
    outline:none;
    width: 255px;
    height: 54px;
    bottom: -96px;
}

#b-0 {
    
}
#b-1 {
    
}

#b-2 {
    
}

#b-3 {
    
}

#b-4 {
    
}

#b-5 {
    
}

#b-6 {
    
}

#b-7 {
    
}
#b-8 {
    
}
#b-9{
    
}
#b-division {
    
}
#b-mult {
    
}
#b-minus {
    
}
#b-plus {
    
}
#b-dot{
    
}

#b-equal{
    
}

#b-clear {
    
}

#b-percent{
    
}

#b-square {
    
}