body {
    background-color: #2b2b2b;
    text-align: center;
}

h1 {
    font: normal 25pt Arial, Helvetica, sans-serif;
    color: rgb(133, 133, 133);
}

.container {
    position: absolute;
    text-align: center;
    width: 100%;
    margin: auto;
}

.img {
    position: relative;
    bottom: 50px;
}

.button {
    /*background-color: Transparent;*/
    background-repeat:no-repeat;
    border: none;
    /* overflow: hidden; */
    outline:none; 
    cursor: pointer;
    width: 50px;
    height: 35px;
    position: relative;
    /* font-size: 0; */
}

.todos-botoes{
    position: relative; 
    bottom: 300px;
}

#screen {
    background-color: rgb(42, 56, 33);
    position: relative;
    font-family: fantasy;
    font-size: 30px;
    text-align: right;
    outline:none;
    width: 255px;
    height: 54px;
    bottom: -96px;
}

#b-clear {
    bottom: -10px;
    left: -15px;
}

#b-0 {
    bottom: -10px;
    left: -9px;
}

#b-dot{
    bottom: -10px;
}

#b-equal{
    bottom: -10px;
    left: 5px;
}

#b-plus {
    bottom: 20px;
    left: 18px;
    height: 100px;
}

#b-1 {
    bottom: -25px;
    left: -9px;
}

#b-2 {
    bottom: -25px;
}

#b-3 {
    bottom: -25px;
    left: 5px;
}

#b-square {
    bottom: -10px;
    left: -15px;
}

#b-4 {
    bottom: -10px;
    left: -9px;
}

#b-5 {
    bottom: -10px;
}

#b-6 {
    bottom: -10px;
    left: 5px;
}

#b-percent{
    bottom: 3px;
    left: -15px;
}

#b-minus {
    bottom: -10px;
    left: 18px;
}

#b-7 {
    bottom: 3px;
    left: -9px;
}
#b-8 {
    bottom: 3px;
}

#b-9{
    bottom: 3px;
    left: 5px;
}

#b-mult {
    bottom: 3px;
    left: 18px;
}

#b-division {
    
}